<mat-toolbar>
  <div class="d-flex align-items-center">
    <div>
      <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
        <mat-icon class="align-middle">menu</mat-icon>
      </button>

      <span><a routerLink="/"><mat-icon class="align-middle">home</mat-icon></a></span>
      <!-- <ng-template #userIsLogged>
        <span><a routerLink="/utenti"><mat-icon class="align-middle">home</mat-icon></a></span>
      </ng-template> -->
    </div>
    <div class="ms-2">
      <span *ngIf="isAdmin()" class="admin-badge">
        Admin
      </span>
    </div>

  </div>
  <mat-menu #menu="matMenu">

    <a mat-menu-item routerLink="login" *ngIf="!showLink()">
      Login
    </a>

    <a mat-menu-item routerLink="registrati" *ngIf="!showLink()">
      Registrati
    </a>

    <a mat-menu-item routerLink="recupera-password" *ngIf="!showLink()">
      Recupera password
    </a>

    <a mat-menu-item routerLink="utenti" *ngIf="showLink() && isAdmin()">
      Utenti
    </a>

    <a mat-menu-item routerLink="store" *ngIf="showLink()">
      Store
    </a>
    <a mat-menu-item routerLink="home" *ngIf="showLink()" (click)="onLogout()">
      Logout
    </a>
  </mat-menu>

</mat-toolbar>
