<div class="container mt-5">

  <!-- <div *ngIf="isLoading">
    <app-loader></app-loader>
  </div> -->
  <h1 *ngIf="isAdmin()">Store Admin</h1>
  <h1 *ngIf="!isAdmin()">Store</h1>
  <h5>Lista prodotti</h5>
  <!-- TABELLA STORE -->
  <div *ngIf="!isSingleProduct; else productDetails">
    <div class="mt-3" *ngIf="!isLoading">
      <app-table *ngIf="!isAdmin()" [data]="dataSource" [paramData]="'store'" [columns]="displayedColumns"></app-table>
      <app-store-table *ngIf="isAdmin()" [paramData]="'store'" [columns]="displayedColumns"></app-store-table>
    </div>
  </div>
  <!-- CARD DETTAGLI PRODOTTO -->
  <ng-template #productDetails>
    <app-product-store-details [data]="product"></app-product-store-details>
  </ng-template>
  <!-- / CARD DETTAGLI PRODOTTO -->
</div>
